attrs
certifi
charset-normalizer
colorama
coloredlogs
filelock
flatbuffers
fsspec
humanfriendly
hypothesis
idna
mpmath
numpy
onnxruntime
opencv-python
ordered-set
pillow
protobuf
pyctcdecode
pyewts
pygtrie
pyreadline3
PySide6
PySide6_Addons
PySide6_Essentials
PyYAML
requests
scipy
shiboken6
sortedcontainers
sympy
thin-plate-spline
tqdm
typing_extensions
urllib3
zstandard
pypdf
platformdirs